/*====
Pallete 
==*/
:root {
  --primary: #0b3c5d;
  --secondary: #328cc1;
  --light: #afafaf;
  --dark: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


#dark-toggle {
  display: none;
}

#dark-toggle:checked ~ .page {
  --primary: #121212;
  --secondary: #4fc3f7;
  --light: #1e1e1e;
  --dark: #f5f5f5;
}

.toggle-label {
  cursor: pointer;
  margin-left: 20px;
  font-size: 0.9rem;
  color: #ffffff;
}

.page {
  background: var(--light);
  color: var(--dark);
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: var(--primary);
}

.logo {
  color: #fafafa;
  font-size: 1.5rem;
}

nav a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  height: 80vh;
  background-image: url("..OIP.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  text-align: center;
  color: #000000;
}

.hero-content h2 {
  font-size: rem;
}

.hero-content p {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  background: var(--secondary);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #ffffff;
  color: var(--secondary);
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 50px;
}

.card {
  background: #c0d5f6;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, background 0.3s;
}

#dark-toggle:checked ~ .page .card {
  background: #2a2a2a;
}

.card:hover {
  transform: translateY(-10px);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide {
  animation: slideUp 1s ease forwards;
}

footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 15px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }

  .hero-content h2 {
    font-size: 2.2rem;
  }


}
